@import "tailwindcss";


.playfair-display {
  font-family: var(--font-playfair), serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll linear infinite;
}

